<!DOCTYPE html>
<html>
<head>
	<title>angular practice</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<!-- <script type="text/javascript" src="../js/ajspractise.js"></script> -->
	 <!--<script src="https://code.angularjs.org/1.4.8/angular-route.min.js"></script> -->
</head>
<body>
                     <!--<div data-ng-app="" data-ng-init="firstname:manoj">-->
                       <!--<h4>This is practise</h4>-->
                        <!--<p><input type="text" data-ng-model="firstname"></p>-->
                       <!--<p>firstnames is:{{firstname}}</p>-->
                       <!--<p>firstnames is:{{firstname|lowercase OR uppercase}}</p>-->
                     <!--</div>-->


  <!--  <div ng-app="myfirst" ng-bind-template="{{firstName}} {{lastName}}" ng-controller="myFirst">
   {{firstName+ " "+lastName}}  
   <span ng-bind="firstName+ lastName"></span>
</div>  -->

         <!--<div ng-app="" ng-init="one=5;two=10">-->
            <!--{{one+two}}-->
             <!--<p ng-bind="one*two"></p>-->
         <!--</div>-->
         <!--<div ng-app="" ng-init="names=['manoj','hari','raj']">-->
        <!--<p ng-repeat="x in names">-->
        <!--{{x}}-->
        <!--<p ng-bind="names">-->
        <!--</p>-->
        <!--</p>-->
        <!--</div>-->

<!--<div ng-app="myfirst" ng-controller="myFirst">-->
 <!--<p ng-repeat="x in names">{{x}}</p>-->
<!--</div>-->

<!-- 
<div ng-app="myfirst" ng-controller="myFirst">
   <input type="text" ng-model="firstName">
   <input type="text" ng-model="lastName">  
   {{firstName+" "+lastName}}   -->


    <!--<form ng-app="" name="forms">-->
       <!--<input type="email" name="mymail" ng-model="text">-->
       <!--<p ng-show="forms.mymail.$error.email">not valid</p>-->
   	<!--<p>valid:{{forms.mymail.$valid}} </p>-->
   	<!--<p>Dirty:{{forms.mymail.$dirty}}</p>-->
   	<!--<p>Touched:{{forms.mymail.$touched}}</p>-->
   	<!--<p>UnTouched:{{forms.mymail.$untouched}}</p>-->
	<!--</form>-->



 <!--<div ng-app="myfirst" ng-controller="myFirst">-->
<!--<p>{{content}}</p>-->
<!--<p>{{status}}</p>-->
<!--<p>{{statusText}}</p>-->
<!--</div>-->

<!--<div ng-app="myfirst" ng-controller="myFirst">-->
    <!--<p>Date is:</p>-->
    <!--<p>{{date}}</p>-->

<!--</div>-->

 <div ng-app="myfirst" ng-controller="myFirst">
<table>
    <tr ng-repeat="x in names |orderBy:'Country'">
    <!--<tr ng-repeat="x in names |filter:'h'">-->

        <!--<td>{{$index+1}}</td>-->
        <!--<td>{{x.Name|lowercase}}</td>-->
        <!--<td>{{x.Country|uppercase}}</td>-->
    </tr>
</table>
 </div>

 <!--<div ng-app="myfirst" ng-controller="myFirst">-->
      <!--<select ng-model="selectcars">-->
          <!--<option ng-repeat="x in cars">{{x.model}}</option>-->
      <!--</select>-->
     <!--<h2>select:{{selectcars.model}}</h2>-->
     <!--<h2>select:{{selectcars.color}}</h2>-->

<!--  <div ng-app="myfirst" ng-controller="myFirst">
     <input type="text" ng-model="firstName">
     <input type="text" ng-model="lastName">

     <p ng-click="changename()">
         {{firstName +" "+lastName}}</p>
     <p ng-dblclick="changeName()">
         {{firstName+" "+ lastName}}</p>
 </div>
 -->

</body>

<script type="text/javascript" src="../js/ajspractise.js"></script>
</html>