<div class="imggg" >
    <!--<input type="button" value="X" id="btx" ng-click="delee()">-->
    <button id="btx" value="X" ng-click="delee()">X</button>
    <img src="image/IMG_0014.JPG" id="imgs">
    <h3>Manoj Hari</h3>
    <input type="password" maxlength="10" placeholder="Password"><br><br/>
    <input type="checkbox">Remember the password  <br><br/>
    <button class=" col-md-12 btn btn-primary" ng-click="link()">Log In</button><br><br/>
    <span id="links" ng-click="showForgotpwd()">ForgotPassword?</span>
</div>
